/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
.overlay {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.05); /* Black w/ opacity */
  }
  @keyframes spinner {
    to {transform: rotate(360deg);}
  }

  .spinner {
      pointer-events: none;
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border-top: 2px solid #07d;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
  }
 

.disabled
{
    cursor: not-allowed;
    background-color: rgb(229, 229, 229) !important;
}

.disabled > * 
{
    pointer-events:none;
}